<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.hualisheng.springBootWebDemo.dao.PrizeMapper" >
  <resultMap id="BaseResultMap" type="net.hualisheng.springBootWebDemo.model.Prize" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prize_name" property="prizeName" jdbcType="VARCHAR" />
    <result column="prize_type" property="prizeType" jdbcType="INTEGER" />
    <result column="prize_value" property="prizeValue" jdbcType="REAL" />
    <result column="page_no" property="pageNo" jdbcType="INTEGER" />
    <result column="use_in" property="useIn" jdbcType="INTEGER" />
    <result column="is_use" property="isUse" jdbcType="INTEGER" />
    <result column="act_code" property="actCode" jdbcType="VARCHAR" />
    <result column="probability" property="probability" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, prize_name, prize_type, prize_value, page_no, use_in, is_use, act_code, probability
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.hualisheng.springBootWebDemo.model.PrizeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from prize
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from prize
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from prize
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.hualisheng.springBootWebDemo.model.PrizeExample" >
    delete from prize
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.hualisheng.springBootWebDemo.model.Prize" >
    insert into prize (id, prize_name, prize_type, 
      prize_value, page_no, use_in, 
      is_use, act_code, probability
      )
    values (#{id,jdbcType=INTEGER}, #{prizeName,jdbcType=VARCHAR}, #{prizeType,jdbcType=INTEGER}, 
      #{prizeValue,jdbcType=REAL}, #{pageNo,jdbcType=INTEGER}, #{useIn,jdbcType=INTEGER}, 
      #{isUse,jdbcType=INTEGER}, #{actCode,jdbcType=VARCHAR}, #{probability,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.hualisheng.springBootWebDemo.model.Prize" >
    insert into prize
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="prizeName != null" >
        prize_name,
      </if>
      <if test="prizeType != null" >
        prize_type,
      </if>
      <if test="prizeValue != null" >
        prize_value,
      </if>
      <if test="pageNo != null" >
        page_no,
      </if>
      <if test="useIn != null" >
        use_in,
      </if>
      <if test="isUse != null" >
        is_use,
      </if>
      <if test="actCode != null" >
        act_code,
      </if>
      <if test="probability != null" >
        probability,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prizeName != null" >
        #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeType != null" >
        #{prizeType,jdbcType=INTEGER},
      </if>
      <if test="prizeValue != null" >
        #{prizeValue,jdbcType=REAL},
      </if>
      <if test="pageNo != null" >
        #{pageNo,jdbcType=INTEGER},
      </if>
      <if test="useIn != null" >
        #{useIn,jdbcType=INTEGER},
      </if>
      <if test="isUse != null" >
        #{isUse,jdbcType=INTEGER},
      </if>
      <if test="actCode != null" >
        #{actCode,jdbcType=VARCHAR},
      </if>
      <if test="probability != null" >
        #{probability,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.hualisheng.springBootWebDemo.model.PrizeExample" resultType="java.lang.Integer" >
    select count(*) from prize
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update prize
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.prizeName != null" >
        prize_name = #{record.prizeName,jdbcType=VARCHAR},
      </if>
      <if test="record.prizeType != null" >
        prize_type = #{record.prizeType,jdbcType=INTEGER},
      </if>
      <if test="record.prizeValue != null" >
        prize_value = #{record.prizeValue,jdbcType=REAL},
      </if>
      <if test="record.pageNo != null" >
        page_no = #{record.pageNo,jdbcType=INTEGER},
      </if>
      <if test="record.useIn != null" >
        use_in = #{record.useIn,jdbcType=INTEGER},
      </if>
      <if test="record.isUse != null" >
        is_use = #{record.isUse,jdbcType=INTEGER},
      </if>
      <if test="record.actCode != null" >
        act_code = #{record.actCode,jdbcType=VARCHAR},
      </if>
      <if test="record.probability != null" >
        probability = #{record.probability,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update prize
    set id = #{record.id,jdbcType=INTEGER},
      prize_name = #{record.prizeName,jdbcType=VARCHAR},
      prize_type = #{record.prizeType,jdbcType=INTEGER},
      prize_value = #{record.prizeValue,jdbcType=REAL},
      page_no = #{record.pageNo,jdbcType=INTEGER},
      use_in = #{record.useIn,jdbcType=INTEGER},
      is_use = #{record.isUse,jdbcType=INTEGER},
      act_code = #{record.actCode,jdbcType=VARCHAR},
      probability = #{record.probability,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.hualisheng.springBootWebDemo.model.Prize" >
    update prize
    <set >
      <if test="prizeName != null" >
        prize_name = #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeType != null" >
        prize_type = #{prizeType,jdbcType=INTEGER},
      </if>
      <if test="prizeValue != null" >
        prize_value = #{prizeValue,jdbcType=REAL},
      </if>
      <if test="pageNo != null" >
        page_no = #{pageNo,jdbcType=INTEGER},
      </if>
      <if test="useIn != null" >
        use_in = #{useIn,jdbcType=INTEGER},
      </if>
      <if test="isUse != null" >
        is_use = #{isUse,jdbcType=INTEGER},
      </if>
      <if test="actCode != null" >
        act_code = #{actCode,jdbcType=VARCHAR},
      </if>
      <if test="probability != null" >
        probability = #{probability,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.hualisheng.springBootWebDemo.model.Prize" >
    update prize
    set prize_name = #{prizeName,jdbcType=VARCHAR},
      prize_type = #{prizeType,jdbcType=INTEGER},
      prize_value = #{prizeValue,jdbcType=REAL},
      page_no = #{pageNo,jdbcType=INTEGER},
      use_in = #{useIn,jdbcType=INTEGER},
      is_use = #{isUse,jdbcType=INTEGER},
      act_code = #{actCode,jdbcType=VARCHAR},
      probability = #{probability,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>